### Aman Pandey
## Domain : Data Science
## Task2- SALES PREDICTION USING PYTHON

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('advertising.csv')

In [4]:
df.head(10)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2
8    8.6    2.1        1.0    4.8
9  199.8    2.6       21.2   15.6

In [6]:
df.shape

(200, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [8]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [19]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [20]:
y.head()

0    22.1
1    10.4
2    12.0
3    16.5
4    17.9
Name: Sales, dtype: float64

In [25]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.3)

In [28]:
X_train.head()

        TV  Radio  Newspaper
169  284.3   10.6        6.4
97   184.9   21.0       22.0
31   112.9   17.4       38.6
12    23.8   35.1       65.9
35   290.7    4.1        8.5

In [30]:
y_train.head()

169    20.0
97     20.5
31     11.9
12      9.2
35     17.8
Name: Sales, dtype: float64

In [39]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [43]:
X_train_scaled

array([[ 1.53003874e+00, -8.86292904e-01, -1.16598019e+00],
       [ 3.41038651e-01, -1.73144262e-01, -4.09601321e-01],
       [-5.20208901e-01, -4.20003407e-01,  3.95263370e-01],
       [-1.58600275e+00,  7.93720724e-01,  1.71892638e+00],
       [ 1.60659408e+00, -1.33201081e+00, -1.06415995e+00],
       [-1.63863454e+00, -5.16004186e-01, -3.95055573e-01],
       [ 1.64128322e+00,  2.86288037e-01, -1.38901498e+00],
       [-1.64700778e+00, -7.83434927e-01, -3.41721166e-01],
       [-2.64226989e-01, -1.27715322e+00, -1.02537129e+00],
       [-1.56447156e+00,  1.06115147e+00, -1.02537129e+00],
       [-6.69731045e-01, -9.54864889e-01, -1.30174050e+00],
       [-9.11358830e-01, -1.61315594e+00, -1.03021988e+00],
       [ 3.82904851e-01, -3.72003018e-01, -2.35052352e-01],
       [ 2.46540656e-01,  6.77148350e-01,  4.00111952e-01],
       [-3.67098225e-01,  9.17150297e-01,  2.36378785e+00],
       [ 6.36494408e-01, -2.00573056e-01, -9.57491140e-01],
       [-1.61355754e-01,  3.96003212e-01, -8.65368073e-01],
       [ 3.41038651e-01,  1.39715419e+00, -1.39386356e+00],
       [ 7.89605084e-01, -1.31829641e+00,  9.38304606e-01],
       [ 1.02046727e+00,  9.92579480e-01, -3.51418331e-01],
       [-1.66495044e+00,  1.53429816e+00,  1.88377819e+00],
       [-4.29299437e-01,  3.41145625e-01, -7.87790753e-01],
       [-7.97722000e-01, -9.34293293e-01,  2.54654478e-01],
       [ 4.15201635e-01,  3.54860021e-01, -5.93847454e-01],
       [-9.67579156e-01, -8.72578507e-01, -1.18537452e+00],
       [ 4.40321355e-01, -3.51431422e-01,  1.70922922e+00],
       [-8.45569087e-01,  8.41721114e-01,  9.14061694e-01],
       [ 1.32190392e+00,  1.39029699e+00, -1.23386034e+00],
       [-1.39820293e+00,  1.20515263e+00, -1.19507168e+00],
       [ 1.25491800e+00,  1.31486781e+00,  1.17588515e+00],
       [-1.71279752e+00, -5.22861384e-01,  9.28607441e-01],
       [ 4.46302241e-01,  8.14292320e-01,  2.18923888e+00],
       [ 1.67477618e+00,  8.76007106e-01,  3.41593025e+00],
       [ 1.30635361e+00, -2.41716247e-01, -1.46174372e+00],
       [ 6.97499443e-01,  3.25716928e-02, -1.28234617e+00],
       [-8.00157075e-02,  8.28006717e-01, -1.18537452e+00],
       [-2.95327595e-01, -3.51431422e-01,  2.01320071e-01],
       [-1.18289104e+00,  6.36005159e-01, -3.36872584e-01],
       [ 1.00132844e+00, -4.68003796e-01, -3.65964078e-01],
       [-1.80494589e-01,  2.24573250e-01,  7.63755637e-01],
       [ 2.91995388e-01, -8.72578507e-01,  1.35528270e+00],
       [-7.08008714e-01, -1.51029797e+00, -2.17147229e-02],
       [ 7.66877718e-01,  6.63433953e-01,  3.61323292e-01],
       [-1.92456360e-01, -1.48286917e+00, -1.03991704e+00],
       [ 1.18434355e+00,  2.31430449e-01, -1.20961743e+00],
       [-7.19970485e-01, -5.98290568e-01,  4.09809117e-01],
       [-1.08001981e+00, -1.21543843e+00, -3.02932506e-01],
       [ 9.91759023e-01, -5.50290178e-01, -1.52626450e-01],
       [ 2.30990353e-01, -5.57147377e-01, -1.35992348e+00],
       [ 1.00132844e+00, -1.11258045e+00, -1.05446279e+00],
       [-1.65657720e+00,  9.65150686e-01, -4.28995650e-01],
       [ 8.81710725e-01,  9.78865083e-01,  1.87892961e+00],
       [ 1.52166550e+00,  1.26686742e+00,  1.73347213e+00],
       [ 1.78358558e-01,  1.10915185e+00,  3.51626127e-01],
       [ 5.10895807e-01,  4.85146793e-01,  4.00111952e-01],
       [-3.98198831e-01,  7.59434732e-01, -8.75065238e-01],
       [-3.02504658e-01,  1.32172501e+00, -7.50491301e-02],
       [-1.57045244e+00,  1.49144067e-01,  6.23146746e-01],
       [ 8.50567398e-02,  9.10293099e-01, -1.11749436e+00],
       [ 1.10539585e+00,  2.45144846e-01, -3.65964078e-01],
       [ 5.51565830e-01, -8.40006814e-02,  5.58625966e-02],
       [-1.71399370e+00, -1.58572715e+00, -2.35052352e-01],
       [-1.82164964e+00, -8.17720919e-01, -1.19992026e+00],
       [-7.47482560e-01,  1.36972540e+00,  9.72244684e-01],
       [ 1.27405683e+00, -1.37315400e+00, -5.30815882e-01],
       [ 8.60179536e-01, -4.54289399e-01, -2.05960857e-01],
       [ 1.16520471e+00, -1.52572666e-01, -2.17147229e-02],
       [ 1.03840993e+00,  1.74687131e+00,  6.71632570e-01],
       [ 9.97739909e-01, -1.33201081e+00,  3.12837468e-01],
       [ 8.56591005e-01,  9.72007885e-01,  7.52569265e-02],
       [ 7.05872683e-01,  5.14289886e-03,  1.31649404e+00],
       [ 9.98936086e-01,  1.23258143e+00, -5.79301707e-01],
       [-5.85998644e-01, -6.53148155e-01, -9.47793975e-01],
       [ 3.75727788e-01, -1.66287063e-01, -1.01567413e+00],
       [ 6.04197625e-01, -1.03715127e+00, -1.96263692e-01],
       [-1.35633673e+00,  1.62858464e-01, -4.82330058e-01],
       [-5.84845187e-02,  1.21886703e+00,  1.36013128e+00],
       [-2.21164612e-01,  1.56858415e+00,  1.38437419e+00],
       [ 3.13526576e-01,  1.55486976e+00,  1.36982845e+00],
       [ 7.58504478e-01,  6.84005549e-01,  7.10421230e-01],
       [ 2.52051615e-03, -1.43486878e+00, -1.07385712e+00],
       [ 1.43912928e+00, -1.45544038e+00, -3.27175419e-01],
       [ 5.81470259e-01,  1.47944057e+00, -5.25967300e-01],
       [-1.07045039e+00, -8.10863721e-01,  3.07988885e-01],
       [-9.56813562e-01,  2.17716052e-01, -3.95055573e-01],
       [-7.25951371e-01, -1.51715516e+00, -1.11749436e+00],
       [-4.32887968e-01, -2.69145040e-01, -9.13853898e-01],
       [ 8.30275107e-01, -1.05086567e+00,  1.26315963e+00],
       [-1.52858624e+00, -1.51029797e+00,  1.23742751e-01],
       [-1.05250773e+00,  1.43829738e+00,  2.49805895e-01],
       [ 1.10061114e+00,  4.57717999e-01, -4.92027223e-01],
       [ 7.42954175e-01, -1.24286722e+00, -1.47777867e-01],
       [-5.57290392e-01,  1.66458493e+00,  1.01588193e+00],
       [-1.76782167e+00, -1.46915477e+00, -1.42780364e+00],
       [-7.04420182e-01, -1.09200886e+00, -1.12719153e+00],
       [ 6.49652357e-01,  4.09717609e-01, -1.02537129e+00],
       [ 9.70185114e-02, -1.80001460e-01,  8.21938627e-01],
       [ 1.30156891e+00, -1.41429719e+00,  6.08600998e-01],
       [ 1.49534961e+00,  1.10229466e+00,  1.22921955e+00],
       [-1.55011743e+00,  6.49719556e-01, -5.40513047e-01],
       [ 1.44152163e+00,  1.74001411e+00,  5.50418009e-01],
       [-1.42930354e+00,  1.03372267e+00,  1.70438064e+00],
       [ 6.03001448e-01, -1.25658162e+00, -5.35664465e-01],
       [ 1.56951259e+00,  1.33543940e+00,  2.00499275e+00],
       [-6.42218970e-01,  4.16574808e-01, -1.06900854e+00],
       [ 1.27166448e+00,  3.61717220e-01, -7.05364851e-01],
       [-7.89348760e-01, -1.59258435e+00, -3.51418331e-01],
       [ 5.19269047e-01, -1.40058279e+00,  2.01320071e-01],
       [-7.43894028e-01, -1.27715322e+00, -1.08355428e+00],
       [ 6.50848534e-01,  1.78801450e+00,  3.51626127e-01],
       [ 8.47021587e-01, -5.29718583e-01,  9.43153189e-01],
       [-8.14468481e-01,  1.35429670e-01,  2.08257007e+00],
       [ 9.69031657e-01, -1.26343882e+00, -3.36872584e-01],
       [-2.41499623e-01, -2.96573834e-01, -6.71424774e-01],
       [ 1.92712684e-01, -3.72003018e-01,  1.22253544e-02],
       [-1.66495044e+00, -1.33201081e+00,  5.58625966e-02],
       [-1.15777132e+00, -7.90292125e-01,  6.13449581e-01],
       [-9.77148574e-01,  1.77430011e+00,  7.39512725e-01],
       [-7.88195304e-02, -1.52401236e+00, -2.98083924e-01],
       [ 1.24530586e-01,  1.26686742e+00, -1.30174050e+00],
       [-1.33839407e+00,  1.08172306e+00,  7.10421230e-01],
       [ 7.17834455e-01,  1.24629582e+00,  4.43749194e-01],
       [-1.33600172e+00,  1.56001265e-01, -4.77481475e-01],
       [-1.86231967e+00,  1.10229466e+00, -1.05446279e+00],
       [-4.23318551e-01, -1.03715127e+00,  8.84970199e-01],
       [ 3.76923966e-01, -4.33717804e-01, -6.08393202e-01],
       [-2.53461395e-01,  1.24629582e+00,  7.49209890e-01],
       [-2.05614309e-01, -6.32576560e-01, -2.35052352e-01],
       [-5.46524798e-01,  1.17086664e+00,  1.58801466e+00],
       [ 6.81949140e-01,  7.37148837e-02, -8.41125160e-01],
       [-1.64581160e+00, -1.25143872e-01,  9.67396101e-01],
       [ 9.05634268e-01, -1.02343687e+00, -1.05446279e+00],
       [ 7.41757998e-01,  2.86288037e-01,  1.11285358e+00],
       [ 1.55037375e+00, -6.60005354e-01, -1.29689191e+00],
       [-5.57290392e-01, -6.32576560e-01,  6.07111791e-02],
       [-1.57164862e+00, -8.58864110e-01, -3.62604703e-02],
       [ 5.70704665e-01,  6.42862358e-01,  7.54058472e-01],
       [ 7.33384758e-01,  6.84005549e-01,  1.38437419e+00],
       [ 1.10176460e-01, -9.27436095e-01, -6.22938949e-01],
       [ 1.48099548e+00, -9.20578896e-01, -4.38692815e-01]])

In [45]:
from sklearn.linear_model import LinearRegression

In [46]:
regressor=LinearRegression()

In [47]:
regressor.fit(X_train_scaled,y_train)

LinearRegression()

In [50]:
##prediction for test data
y_pred_test=regressor.predict(X_test_scaled)

In [51]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [52]:
mse=mean_squared_error(y_test,y_pred_test)
mae=mean_absolute_error(y_test,y_pred_test)
rmse=np.sqrt(mse)

In [54]:
mse,mae,rmse

(2.54162403622915, 1.1594875061090584, 1.5942471691143598)

In [53]:
##accuracy of model R squared and adjusted R squared
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred_test)
score

0.9091484341849798